<header class="main-header mat-elevation-z6">
    <div class="docs-navbar">
      <span class="app-name">
        <a mat-button class="docs-button" aria-label="Metallica">MEAN-MICRO</a>
      </span>
      <nav mat-tab-nav-bar [color]="'accent'" [backgroundColor]="'primary'">
        <a mat-tab-link *ngFor="let link of links" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          {{link.name | uppercase}} </a>
      </nav>
      <div class="flex-spacer"></div>
      <a mat-button><mat-icon>notification_important</mat-icon></a>
      <a mat-button class="docs-button" aria-label="User" [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        <span class="welcome-msg">WELCOME! {{userName | uppercase}}</span>
      </a>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </header>
