@mixin app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    body {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      color: mat-color($primary); 
    }
  
    .main-header {
      position: fixed;
      top: 0;
      width: 100%;
      color: mat-color($primary, default-contrast);
  
      .docs-navbar {
        background: mat-color($primary);
      }
    }

    .primary-background {
        background-color: mat-color($primary);
    }

    .accent-background {
      background-color: mat-color($accent);
    }

    .full-width {
      width: 100%;
    }

    .form-button {
      margin-top: 100px;
    }

    h1, h2, h3, h4 {
      font-family: "Oswald", sans-serif;
      color: mat-color($primary);
      font-weight: lighter;
    }
  }